[Unit]
Description=Daily Gawdee %i backup

[Timer]
OnCalendar=*-*-* 02:30:00 UTC
RandomizedDelaySec=900
Persistent=true

[Install]
WantedBy=timers.target
